<div class="payments-container">
  <h1>Your Payments</h1>

  <% if @payments.any? %>
    <table class="payments-table">
      <thead>
        <tr>
          <th class="thead">Name</th>
          <th class="thead">Amount</th>
          <th class="thead">Date</th>
          <th class="thead">Category</th>
          <th class="thead">Payment Method</th>
        </tr>
      </thead>
      <tbody>
        <% @payments.each do |payment| %>
          <tr>
            <td><%= payment.name %></td>
            <td><%= payment.amount %></td>
            <td><%= payment.date %></td>
            <td><%= payment.category.name %></td>
            <td><%= payment.payment_method %></td>
            <td><%= link_to "Edit", edit_payment_path(payment), class: "btn btn-primary" %></td>
            <td><%= button_to "Delete", delete_payment_path(payment), method: :delete, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No expenses found.</p>
  <% end %>
</div>

