<div class="pay_container">
<h1>Add New Category</h1>
<%= form_with(model: @category, url: add_category_path, local: true) do |form| %>

  <% if @category.errors.any? %>
        <div class="alert alert-danger">
            <% @category.errors.full_messages.each do |message|%>
                <div><%= message %></div>
            <% end %>
        </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class:"payment_field"%>
  </div>

  <div class="field">
    <%= form.label :budget %>
    <%= form.text_field :budget, class:"payment_field"%>
  </div>

  <div class="field">
    <%= form.submit "Add Category", class:"btn btn-success"%>
  </div>
  
  <div><%= link_to "Back", root_path, class: "btn btn-dark" %></div>
<% end %>
</div>
